*{
	
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}


@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

body {
	animation: fadeIn 2s; 
}

h3{
	float: right;
	background-color: white;
	font-family: Calisto MT;
	color: black;
	font-weight: normal;
	font size: 9px;
	margin top: -10px;
	font-style: italic;
	letter-spacing: 1px;
}

audio{

	width: 900px;
	height: 30px;
	margin-left: 1px;
}


header{
	background-color:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	height: 100vh;
	background-size: cover;
	background-position: center;
}

body{
	background-color: black;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: left;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display:inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s      ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}
  
.logo img{
	position: absolute;
	top:17%;
	left: 43%;
	width: 200px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin:auto;
}

.title{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h1{
	color: #fff;
	font-size: 50px; 
	font-family: forte;
}



.content{
	position: absolute;
	top:90%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.content h1{
	color: #fff;
	font-size: 24px; 
	font-family: forte;
	font-weight: normal;
	font-style: italic;
}

.content h4{
	color: #eeb14f;
	font-size: 12px; 
	font-family: Century Gothic;
	font-weight: normal;
}

.content p{
	color: #fff;
	font-size: 12px; 
	font-family: Century Gothic;
	font-weight: normal;
}


.button{
	position: absolute;
	top:62%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;

}

.btn:hover{
	background-color: #fff;
	color: #000;
}



.about{
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 10px;
	height: auto;
	width: 700px;
	margin: 100px auto;
	flex-direction: row;
	display: flex;

}

.image img {
	float: center;
	height: 400px;
	width: 200px;
	background-color: #fff;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.section-left {
	flex: 2;
}


.section-right {
	flex: 1;
}

.wrapper {
	margin: 10px;
}

.context{
	color: white;
	padding: 50px;
	height: auto;
	width: 400px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
}

.context h1{
	font-size: 24px; 
	font-family: forte;
}


.context h4{
	font-size: 15px; 
	font-style: italic;
}


.background{
	background-color: rgba(7, 6, 6, 0.747);
	border-radius: 5px;
	padding: 10px;
	height: auto;
	width: 1050px;
	margin: 100px auto;
}


.sheet{
	background-color: #eeb14f;
	border-radius: 5px;
	color: white;
	padding: 10px;
	height: auto;
	width: 1000px;
	margin: 20px auto;
	flex-direction: row;
	display: flex;

}

a:hover{
	background-color: #8CDAD3;
	transition: .5s ease;
}

.picture img {
	float: center;
	height: 150px;
	width: 150px;
	background-color: #fff;
	border-radius: 100%;
	margin-top: 100px;

}


.wrap {
	margin: 50px auto;
	padding: 5px;
	height: auto;
	width: 400px;
}

.format-one {
	flex: 2;
}

.format-one .picture img{
	margin-left: 150px;
}

.format-two {
	flex: 2;
	margin-top: -110px;
}

.format-two .index{
	margin: 110px;
	margin-left:-200px;
	margin-bottom:-120px;
	display: flex;
	flex-direction: column;
}

.format-three {
	flex: 3;
}

.format-three .picture img{
	margin-left: -150px;
}

.format-three .index{
	margin-left:-500px;
	display: flex;
	flex-direction: column;
}

.index{
	padding: 10px;
	margin: 20px;
	margin-top: -40px;
	display: flex;
	flex-direction: column;
}


.index h1{
	font-size: 20px; 
	font-family: forte;
}

.contact{
	background-color: rgba(8, 8, 8, 0.747);
	border-radius: 5px;
	padding: 10px;
	height: auto;
	width: 1050px;
	margin: 100px auto;
}


/* Style inputs */
.container h2{
	color: #fff;
}

.container label{
	color: #fff;
}

.container p{
	color: #fff;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 10px;
	border: 5px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: #eeb14f;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #ebebeb;
  }
  
  /* Style the container/contact section */
.contact-body{
	box-sizing: border-box;
}

  .container {
	border-radius: 5px;

	padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
	float: left;
	width: 40%;
	margin-top: 50px;
  }

  .column img{
	margin-left: 60px;
	height: 500px;

  }


  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}
  }



  .footer{
	background-color: rgba(8, 8, 8, 0.747);
	border-radius: 5px;
	padding: 10px;
	height: auto;
	width: auto;
	margin: 100px auto;
}