@font-face {
	font-family: century-gothic;
	src: url(./assets/font/gothic/gothic.woff);
 }

*{
	
	margin: 0;
	padding: 0;
	font-family: century-gothic, sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

@import url(https://db.onlinewebfonts.com/c/380d7d586b8246b3f65a92e2b82e65c4?family=Forte+W01);


@media screen and (max-width: 600px) {
	/* For mobile phones: */



.logo img{
	width: 105%;
	float: center;
	top:10%;
	margin-left: -15%;
	margin-top: -10%;
}

.title{
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu ul{
width: 105%;
height: auto;
margin-top: 20px;
margin-left: 20px;
}

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
}

/*---------------- end of header media*/

.about{
	flex-direction: column;
	padding: 40px;
}

.image img{
	margin-left: 0px;
}

.wrapper{
	width: 100px;
}

.context{
	transform: translate(15%, -20%);
}

.context p{
	font-size:10px;
}

.context h1{
	font-size: 20px;
}

.context h6{
	font-size: 20px;
}

/*---------------- end of about media*/

.background{
	padding: 40px;
}

.sheet{
	flex-direction: column;

}

.format-one{
	flex-direction: column;
	transform: translate(-35%, -10%);
}

.format-two{
	flex-direction: column;
	transform: translate(20%, -30%);
}

.format-three{
	flex-direction: column;
	transform: translate(80%, -30%);
}

.format-three .index{
	flex-direction: column;
	transform: translate(-1%, 5%);
}


.index{
	transform: translate(8%, 10%);
	width:10% ;
}


.index h6{
	font-size: 12px;
}





} /* end of mobile screen */






@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

body {
	animation: fadeIn 2s; 
}

h3{
	float: right;
	background-color: white;
	font-family: Calisto MT;
	color: black;
	font-weight: normal;
	font size: 9px;
	margin top: -10px;
	font-style: italic;
	letter-spacing: 1px;
}

audio{

	width: 900px;
	height: 30px;
	margin-left: 1px;
}


header{
	background-color:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	height: 100vh;
	background-size: cover;
	background-position: center;
}

body{
	background-color: black;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
	height: 100vh;
	background-size: cover;
	background-position: center;
}


ul{
	position: fixed;
	float: left;
	list-style-type: none;
	margin-top: 25px;
	margin-left: 25px;
}

ul li{
	display:inline-block;
}

ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	background-color: #eeb14f;
	border-block: 4px solid black;
	border-radius: 20px 50px;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}
  
.logo img{
	position: absolute;
	top:17%;
	left: 43%;
	width: 200px;
	height: auto;
}

.main{
	max-width: auto;
	margin:auto;
}

.title{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.title h1{
	color: #fff;
	font-size: auto; 
	font-family: "Forte W01";
}



.content{
	position: absolute;
	top:90%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.content h1{
	color: #fff;
	font-size: 24px; 
	font-family: "Forte W01";
	font-weight: normal;
	font-style: italic;
}

.content h4{
	color: #eeb14f;
	font-size: 12px; 
	font-family: century-gothic;
	font-weight: normal;
}

.content p{
	color: #fff;
	font-size: 12px; 
	font-family: century-gothic;
	font-weight: normal;
}


.button{
	position: absolute;
	top:62%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	font-size: auto;
	border-radius: 20px 50px;

}

.btn:hover{
	background-color: #fff;
	color: #000;
}



.about{ /* About: */
	box-sizing: content-box;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: auto;
	height: auto;
	width: 50%;
	margin: 100px auto;
	flex-direction: auto;
	display: flex;
	animation: fadeIn 2s; 

}

.image img {
	float: center;
	height: 500px;
	width: auto;
	background-color: #fff;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.section-left {
	flex: 2;
}


.section-right {
	flex: 1;
}

.wrapper{
	width: 350px;
	margin-left: -50%;
}

.context{
	color: white;
	padding: 50px;
	height: auto;
	width: auto;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
}

.context h1{
	font-size: auto; 
}


.context p{
	font-size: auto; 
	font-style: italic;
} 

.context h6{
	font-size: auto;
}


/* End of About: */

.background{ /* Background: */
	background-color: rgba(7, 6, 6, 0.747);
	border-radius: 5px;
	padding: 10px;
	height: auto;
	width: 65%;
	margin: 100px auto;
	transition: 0.6s ease;
}


.sheet{
	background-color: #eeb14f;
	border-radius: 5px;
	color: white;
	padding: 10px;
	height: auto;
	width: 90%;
	margin: 20px auto;
	display: flex;

}

a:hover{
	background-color: #8CDAD3;
	transition: .5s ease;
}

.picture img {
	float: center;
	height: 150px;
	width: 150px;
	background-color: #fff;
	border-radius: 100%;
	margin-top: 100px;

}


.wrap {
	margin: 50px auto;
	padding: 5px;
	height: auto;
	width: 380px;
}

.format-one {
	flex: 2;
}

.format-one .picture img{
	margin-left: 150px;
}

.format-two {
	flex: 2;
	margin-top: -110px;
}

.format-two .index{
	margin: 110px;
	margin-left:-200px;
	margin-bottom:-120px;
	display: flex;
	flex-direction: column;
}

.format-three {
	flex: 3;
}

.format-three .picture img{
	margin-left: -150px;
}

.format-three .index{
	margin-left:-500px;
	display: flex;
	flex-direction: column;
}

.index{
	width: auto;
	padding: 10px;
	margin: 20px;
	margin-top: -40px;
	display: flex;
	flex-direction: column;
}


.index h1{
	font-size: auto; 
}


.index h6{
	font-size: auto; 
}
/* End of Background:-------------- */

.contact{ /* Contact: */
	background-color: rgba(8, 8, 8, 0.747);
	border-radius: 5px;
	padding: 10px;
	height: auto;
	width: auto;
	margin: 100px auto;
	transition: 0.6s ease;
}


/* Style inputs */
.container h2{
	color: #fff;
}

.container label{
	color: #fff;
}

.container p{
	color: #fff;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 10px;
	border: 5px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: #eeb14f;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #ebebeb;
  }
  
  /* Style the container/contact section */
.contact-body{
	box-sizing: border-box;
	
	
}

  .container {
	border-radius: 5px;
	padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
	float: left;
	width: 40%;
	margin-top: 50px;
  }

  .column img{
	margin-left: 60px;
	height: auto;

  }


  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 00px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
	.contact-body, input[type=submit] {
	  width: 100%;
	  margin-top:0;
	}

	.column{
		width: auto;
		margin-right: 30px;
	}
  }

/* End of Contact:------------ */

  .footer{
	background-color: rgba(8, 8, 8, 0.747);
	border-radius: 5px;
	padding: 10px;
	height: auto;
	width: auto;
	margin: 100px auto;
}

