*{
	
	margin: 0;
	padding: 0;
	font-family: Forte;
}

header{
	background-color: black;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../4.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.title h1{
	text-align: center;
	color: #eeb14f;
	font-size: 70px; 
	margin: 0px 1 50px;
	height: auto;
	width: auto;
}


.gallery{
	margin: 10px 50px;
	

}

.gallery img{
	width: 230px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}


.button{
  position: absolute;
  top:5%;
  left: 10%;
  transform: translate(-50%, -50%);

}

.btn{
  border: 1px solid #fff;
  padding: 10px 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
   font-family:  Century Gothic;

}

.btn:hover{
  background-color: #fff;
  color: #000;
}


