html{
	background-color: black;
	background: url(../4.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.header {
	display: flex;
	padding: 20px;
	justify-content: flex-start;
	align-items: center;
	height: auto;
	width: auto;
}



.name {

	font-family: Forte;
	color: #eeb14f;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1px;

}


.banner{

	font-family: Rockwell;
	font-size: 20px;
	color: white;
}


.content{
	background-color: rgba(0,0,0,0.7);
	color: black;
	padding: 10px;
	height: auto;
	width: 1000px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
}


.nav{
	background-color: white;
	color: black;
	height: auto;
	width: 1000px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
}

.nav li{
	font-family: Century Gothic;
}


.content-nav{
	background-color: #eeb14f;
	color: black;
	height: auto;
	width: 1000px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
}



.profile_pic img {
	float: left;
	height: auto;
	width: 140px;
	border-radius: 100%;
	margin-right: 10px;
	
}



.button{
  position: absolute;
  top:5%;
  left: 10%;
  transform: translate(-50%, -50%);

}

.btn{
	background-color: #fff;
  border: 1px solid #000;
  padding: 10px 10px;
  color: #000;
  text-decoration: none;
  transition: 0.6s ease;

}

.btn:hover{
  background-color: #000;
  color: #fff;
}


}

.main{
	max-width: 1200px;
	margin:100px;
}

}

ul{
	float: left;
	list-style-type: none;
	margin-top: 5px;
}

ul li{
	display:inline-block;
}

ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 10px;
	border: 1px solid transparent;
	transition: 0.6s      ease;
}

ul li a:hover{
	background-color: #000;
	color: #fff;
}

ul li.active a{
	background-color: #000;
	color: #fff;
}


.footer{
	color:white;
}



h2{

	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	font-family: Forte;
	letter-spacing: 2px;

}


p{
	font-family: Century Gothic;
}



.wrapper {
	margin: 20px;
}

h3{

	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	font-family: Ink Free;
	letter-spacing: 2px;

}
